html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}


.upload-wrapper {
	max-width: 48rem;
	width: 100%;
}

.upload {
	margin: 2rem;
}

#drop-area {
	height: 16rem;
}
