<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.}}</title>
	<link rel="icon" href="assets/favicon.png" type="image/png">
	<link rel="stylesheet" href="assets/bundle.css">
</head>
<body>
	<noscript>
		<p class="p-6 bg-red-100 text-red-700">
			This tool requires JavaScript to be enabled in your browser.
		</p>
	</noscript>
	<main class="w-full max-w-3xl mx-auto">
