<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dropbox Not Found</title>
	<link rel="stylesheet" href="assets/bundle.css">
</head>
<body>
	<div class="upload-wrapper">
		<div class="upload">
			<h1>Dropbox Not Found</h1>
			<p>The dropbox you are looking for doesn't exist or has expired.</p>
		</div>
	</div>
</body>
