{{template "head.tmpl" "Dropbox Not Found"}}
<div class="upload-wrapper">
	<div class="upload">
		<div id="drop-area"></div>
		<div id="status-area"></div>
		<div id="log-header">
			<h4>Completed</h4>
			<button id="log-clear">Clear</button>
		</div>
		<div id="log-area"></div>
	</div>
</div>
{{template "foot.tmpl"}}
