{{template "head.tmpl" "Dropbox not found"}}
<div class="space-y-8 px-6 my-8">
	<h1 class="my-4 text-4xl font-bold text-center">Dropbox not found</h1>
	<section>
		<p class="my-2 text-center">
			The dropbox you are looking for doesn't exist or has expired.
		</p>
	</section>
</div>
{{template "foot.tmpl"}}
